$('.question-errors').html('<%= render 'shared/errors', object: @question %>')

<% if @question.errors.empty? %>
  $('.question-title').html('<%= @question.title %>')
  $('.question-body').html('<%= @question.body %>')

  $('.question-files').html('')

  <% @question.files.each do |file| %>
    link = '<%= link_to file.filename.to_s, url_for(file) %>'

    $('.question-files').append("<p class='question-file-link'>" + link + '</p>')
  <% end %>

  $('.edit-question-form').addClass('hidden')
  $('.edit-question-link').show()
<% end %>
